.page {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
}

.formContainer {
    border: solid;
    border-radius: 0.4em;
    padding: 3rem;
    box-shadow: 1rem 1rem 0.6rem lightgray;
    margin-bottom: 2rem;
}



.form-group {
    margin-bottom: 1em;
}

.computers {
    display: flex;
    flex-direction: column;
    gap: 1rem; 
}

.computer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.4em;
    box-shadow: 0.5rem 0.5rem 0.3rem lightgray;
    gap: 0.5rem
}

.computer-container-name,
.computer-container-description,
.computer-container-ipAddress {
    margin-bottom: 0.5rem;
}
