@import './header.css';
@import './footer.css';

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    max-height: 100%;
}

.formContainer {
    border: solid;
    border-radius: 0.4em;
    padding: 3rem;

    box-shadow: 1rem 1rem 0.6rem lightgray;
}