body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --var1: #59253A;
  --var2: #78244C;
  --var3: #895061;
  --var4: #0877A1;
  --var5: #2D4150;
}

a {
  font-family: Arial;
  font-size: 13.3333px;
  text-decoration: none;
  color: inherit;     
}

a:hover {
  border-radius: 1em;
  background-color: var(--var3);
  transition: 1s;
}


button {
  border-radius: 1em;
  background-color: white;
  border: none;
}

button:hover {
  background-color: var(--var3);
  transition: 1s;
}